[Desktop Entry]
Name=IntelliJ IDEA Community Edition
Type=Application
Version=${version}
Terminal=false
Comment=
Exec=/usr/share/jetbrains-multiarch/ideaIC/bin/idea %F
Icon=/usr/share/jetbrains-multiarch/ideaIC/bin/idea.svg
Categories=TextEditor;Development;IDE;Java;Kotlin;
Keywords=jetbrains;intellij;idea;java;kotlin;ide
