Package: pycharm-community-multiarch
Version: ${version}
Vendor: https://www.jetbrains.com/
Architecture: ${arch}
Maintainer: Glavo <glavo@isrc.iscas.ac.cn>
Installed-Size: 3145728
Section: devel
Priority: optional
Homepage: https://github.com/Glavo/JetBrains-IDE-Multiarch
Description: The only Python IDE you need built for web, data, and AI/ML professionals. Supercharged with an AI-enhanced IDE experience.
