*.o
*.lo
Makefile
config.h
config.log
config.status
docs/Makefile
docs/libdbusmenu-glib/Makefile
docs/libdbusmenu-glib/reference/Makefile
docs/libdbusmenu-gtk/Makefile
docs/libdbusmenu-gtk/reference/Makefile
libdbusmenu-glib/.deps/
libdbusmenu-glib/.libs/
libdbusmenu-glib/Dbusmenu-0.4.gir
libdbusmenu-glib/Dbusmenu-0.4.typelib
libdbusmenu-glib/Dbusmenu-0.4.vapi
libdbusmenu-glib/Makefile
libdbusmenu-glib/dbusmenu-glib-0.4.pc
libdbusmenu-glib/libdbusmenu-glib.la
libdbusmenu-glib/stamp-enum-types
libdbusmenu-gtk/.deps/
libdbusmenu-gtk/.libs/
libdbusmenu-gtk/Makefile
libdbusmenu-gtk/dbusmenu-gtk-0.4.pc
libdbusmenu-gtk/dbusmenu-gtk3-0.4.pc
libtool
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
tests/.deps/
tests/Makefile
tests/dbusmenu-jsonloader-0.4.pc
tools/.deps/
tools/Makefile
tools/testapp/.deps/
tools/testapp/Makefile
